
body{
	margin: 0;
	max-width: 100hh;
	background-image: linear-gradient(to bottom right, #814aa8, #40202c);
	/*background-color:#814aa8;*/
	font-family: Century Gothic;
	overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.flexdis{
	display: flex;
}
.imagescontainer{
	margin: 15px;
	height: 60%;
	overflow: auto;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}
.imagescontainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.imagescontainer::-webkit-scrollbar
{
	height: 10px;
	width: 12px;
	background-color: rgba(0,0,0,0);
}

.imagescontainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

}
.imagescontainer .item{
	height: 100%;
	object-fit: scale-down;
	margin-right: 2px;
}
.purplebg{
	background-color: #592f4a;
	color: #ffffff;
	width: 80%;
	height: 400px;
	margin-top: 30px;
	margin-left: 2%;
	box-shadow: 10px 15px 15px 0 rgba(1.0, 1.0, 1.0, 0.2);
	transition: 0.3s;
}
.whitebg{
	color: #521851;
	background-color: #ffffff;
	width: 80%;
	height: 400px;
	margin-top: 30px;
	margin-left: 18%;
	box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;

}
.whitebgtext{
	color: #521851;
	background-color: #ffffff;
	width: 80%;
	min-height: 400px;
	margin-top: 30px;
	margin-left: 18%;
	box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}
.whitebg:hover{
	box-shadow: 10px 15px 15px 0 #ad96ff;
}
.purplebg:hover{
	box-shadow: 10px 15px 15px 0 #814aa8;
}
.rcorners {
  border-radius: 15px;
}
.walltext{
	text-align: justify;
	margin-right: 20px;
}
.headimage{

margin-top: 20px;
	max-height: 80vh;
	width: 80%;
	margin-left: 10%;
	margin-right: auto;
	object-fit: scale-down;
	display: inline-block;
}

#montage {
position: relative;

	left: -10%;
	top: -20px;
 height: 120%;
 max-width: 40%;
 object-fit: scale-down;
 display: inline-block;
}
.inlinecontent {
	width: 60%;
	max-height: 60%;
	margin-left: 0;
	padding: 0;
	
	display: inline-block;
	
}
.subtitle{
	text-align: center;
	font-family: Century Gothic;
	font-size: 30px;
	width: 100%;
		padding-top: 10px;
}
.subtitle2{
	text-align: center;
	font-family: Century Gothic;
	font-size: 30px;
	width: 100%;
}
.title{
	margin: 0;
	padding:0;
	text-align: right;
	background-color: #2e0e2d;
	color: #ffffff;
	font-family: Century Gothic;
	font-size: 100%;
	font-size: 20px;
	width: 100%;
}
.title p{
	object-fit: scale-down;
	margin: 0;
	padding:20px;
	padding-left: 2%;
}

.menu{
	transition: 0.2s;
	margin: 0;
	padding:0;
	height: 0px;
	background-color: #2e0e2d;
	color: #ffffff;
	font-family: Century Gothic;
	font-size: 100%;
	font-size: 20px;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	
}
.menuitem{
	display: inline-block;
	text-align: center;
 padding-top: 10px;
 padding-left: 40px;
 padding-right: 40px;
 height: 100%;
 margin: 0;
 transition: 0.5s;
 width: 20%;
}
.menuitem:hover{
 color: #2e0e2d;
 background-color: #ffffff;
}
.title:hover + .menu{
	height: 50px;
	
}
.menu:hover{
	height: 50px;
}
.title p{
	object-fit: scale-down;
	margin: 0;
	padding:20px;
	padding-left: 2%;
}
.marginzero{
	margin: 0px;
}
.navbar{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;

  	/*background-color: #ffffff;*/
}

.navbaritem{
	background-color: #ffffff;
	float: left;
	border-style: solid;
	border-radius: 20px;
	/*border-width:  0px 2px 0px 0px;*/
	margin: 0px 2px;
	border-color: #ff6bb3;
}

.navbaritema{
	height: 50px;
	width: 100px;
	vertical-align: middle;
	display: block;
  	color: #ff6bb3;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-family: "Comic Sans MS", "Comic Sans", cursive;
  	font-size:  20px;
  	font-weight: bold;

}
.popupbg{
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	visibility: hidden;
}
.popupimg{
	display: block;
	object-fit: contain;
	margin-top: 25px;
	max-width: 90%;
	max-height: 90%;
	margin-left: auto;
	margin-right: auto;
}

#popupcontent{
	background-color: #40202c;
	width: 90%;
	height: 80%;
	margin-top: 5%;
	justify-content: center;
	align-content: center;
}
.top-left {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #ffffff;
}
.footer{
	padding-top: 20px;
	margin-top: 30px;
	padding-bottom: 20px;
  min-height: 100px;
  width: 100%;
  background-color: #2e0e2d;
  color: white;
  text-align: center;
}
.linkicon{
display:inline;
white-space:nowrap;
	width: 50px;
	object-fit: contain;
}

a{
	text-decoration: none;
	color: white;
}
.popupbg3d{
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	visibility: hidden;
}
.popupsideview{
	max-width: 20%;
	height: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 10px;
	justify-content: center;
	align-content: center;
	margin-right: auto ;

  	overflow: auto;
}
.popupimg3d{
	display: inline-block;
	object-fit: contain;
	margin-top: 25px;
	width: 75%;
	max-width: 75%;
	max-height: 90%;
	margin-left: auto;
}
.popupimg3dsideview{
	display: block;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	margin-top: 5px;

}
.hide{
	opacity: 0;
	transition: 0.4s;
}
.show{
	opacity: 1;
	visibility: visible;
}
.popupsideview::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
}

.popupsideview::-webkit-scrollbar
{
	height: 5px;
	width: 12px;
	background-color: rgba(0,0,0,0);
}

.popupsideview::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

}
.test{
	background-color: white;
}
